<div class='container'>
	<header class='text-center'>
		<h1>Clientes</h1>

		<div>
			<a href='/cadastroGeral/cliente'>
				<button class='btn btn-primary'>
					<i class='fas fa-user-plus'></i>
					Adicionar
				</button>
			</a>
		</div>
	</header>

	<main class='card mt-3 shadow'>
		<div class='card-body scrollable'>
			<table class='table table-striped table-hover align-middle'>
				<thead>
					<tr>
						<th>Nome</th>
						<th>CPF/CNPJ</th>
						<th>Endereco</th>
						<th>Telefone</th>
						<th>E-mail</th>
						<th>Ações</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					{{#each clientes}}
						<tr>
							<td class='col-3'>{{nome}}</td>
							<td class='col-2'>{{cpf}}</td>
							<td class='col-3'>{{endereco}}</td>
							<td class='col-2'>{{contato.telefone}}</td>
							<td class='col-2'>{{contato.email}}</td>
							<td class='col-1'>
								<form
									action='/admin/clientes/editar'
									method='post'
								>
									<input
										type='hidden'
										name='id'
										value='{{_id}}'
									/>
									<button
										type='submit'
										class='btn btn-primary me-3'
									>
										<img src='/img/edit.svg' alt='edit' />
									</button>
								</form>
							</td>
							<td class='col-1'>
								<button
									class='btn btn-danger'
									title='Deletar orçamento'
									data-bs-toggle='modal'
									data-bs-target='#modalDelete'
									onclick="modalDelete('{{_id}}', '{{nome}}')"
								>
									<img
										src='/img/delete.svg'
										alt='delete'
										title='Deletar'
									/>
								</button>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</main>
</div>

<div class='modal' id='modalDelete' tabindex='-1'>
	<div class='modal-dialog modal-sm modal-dialog-centered'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h5 class='modal-title'>
					Deletar cliente?
				</h5>
			</div>
			<div class='modal-body'>
				<p id='modal-body-text'>

				</p>
			</div>
			<div class='modal-footer'>
				<button
					type='button'
					class='btn btn-danger'
					data-bs-dismiss='modal'
				>
					Cancelar
				</button>
				<form id='modalForm' method='post'>
					<input id='inputDelete' name='id' type='hidden' />
					<button type='submit' class='btn btn-light border-danger'>
						<i class='far fa-trash-alt'></i>
						Deletar
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

{{!-- prettier-ignore --}}
<script>
	function modalDelete(id, nome){
		document.getElementById('inputDelete').setAttribute('value', id)
		document.getElementById('modalForm').setAttribute('action','/admin/clientes/deletar')
		document.getElementById('modal-body-text').innerHTML = `Deseja deletar o cliente <b>`+nome+`</b>?`
	}
</script>