<h1>Editar cliente</h1>

    <main class='d-flex justify-content-center flex-wrap'>
		<form
			action='/admin/clientes/editarP'
			method='post'
			class='form-card rounded shadow'
		>
            <input type="hidden" name="id" value="{{cliente._id}}">

			<div class='form-floating'>
				<input
					class='form-control'
					type='text'
					name='nome'
					id='nome'
					placeholder='Nome completo'
                    value="{{cliente.nome}}"
					required
				/>
				<label for='nome'>Nome</label>
			</div>
            
            {{#if cpf}}
                <div class='form-floating' id='cpfDiv'>
                    <input
                        class='form-control'
                        type='text'
                        name='cpf'
                        minlength='11'
                        maxlength='11'
                        id='cpfCliente'
                        placeholder='CPF'
                        value="{{cliente.cpf}}"
                        required
                    />
                    <label for='cpfCliente'>CPF</label>
                </div>

                <div class='input-group' id='datas'>
                    <span class='input-group-text'>
                        Data de nascimento
                    </span>
                    <input
                        class='form-control'
                        type='number'
                        name='dia'
                        placeholder='dd'
                        min='1'
                        max='31'
                        id='inputDD'
                        value="{{getDia cliente.dataNasc}}"
                        required
                    />
                    <input
                        class='form-control'
                        type='number'
                        name='mes'
                        placeholder='mm'
                        min='1'
                        max='12'
                        id='inputMM'
                        value="{{getMes cliente.dataNasc}}"
                        required
                    />
                    <input
                        class='form-control'
                        type='number'
                        name='ano'
                        placeholder='yyyy'
                        min='1930'
                        max='2021'
                        id='inputYYYY'
                        value="{{getAno cliente.dataNasc}}"
                        required
                    />
                </div>

                {{else}}

                <div class='form-floating' id='cnpjDiv'>
                    <input
                        class='form-control'
                        type='text'
                        minlength='14'
                        maxlength='14'
                        name="cpf"
                        id='cnpjCliente'
                        placeholder='CNPJ'
                        value="{{cliente.cpf}}"
                    />
                    <label for='cnpjCliente'>CNPJ</label>
                </div>

                <div class='input-group' id='datas' hidden>
                    <span class='input-group-text'>
                        Data de nascimento
                    </span>
                    <input
                        class='form-control'
                        type='number'
                        name='dia'
                        placeholder='dd'
                        min='1'
                        max='31'
                        id='inputDD'
                        hidden
                    />
                    <input
                        class='form-control'
                        type='number'
                        name='mes'
                        placeholder='mm'
                        min='1'
                        max='12'
                        id='inputMM'
                        hidden
                    />
                    <input
                        class='form-control'
                        type='number'
                        name='ano'
                        placeholder='yyyy'
                        min='1930'
                        max='2021'
                        id='inputYYYY'
                        hidden
                    />
                </div>
            {{/if}}

			<div class='form-floating'>
				<input
					class='form-control'
					type='text'
					name='endereco'
					id='endereco'
					placeholder='Endereço'
                    value="{{cliente.endereco}}"
					required
				/>
				<label for='endereco'>Endereço</label>
			</div>

			<div class='form-floating'>
				<input
					class='form-control'
					type='email'
					name='email'
					id='email'
					placeholder='E-mail (opcional)'
                    value="{{cliente.contato.email}}"
				/>
				<label for='email'>E-mail (opcional)</label>
			</div>

			<div class='form-floating'>
				<input
					class='form-control'
					type='tel'
					name='telefone'
					id='telefoneCliente'
					placeholder='Telefone (opcional)'
                    value="{{cliente.contato.telefone}}"
				/>
				<label for='telefone'>Telefone (opcional)</label>
			</div>

			<button class='btn btn-primary w-100' type='submit'>
				Editar 
			</button>
		</form>
	</main>

{{!-- prettier-ignore --}}
<script>
	$(document).ready(() => {$('#cpfCliente').mask('000.000.000-00')})
	$(document).ready(() => {$('#cnpjCliente').mask('00.000.000/0000-00')})
	$(document).ready(() => {$('#telefoneCliente').mask('(00) 0000-0000')})
</script>