<div class='container'>
	<header class='text-center'>
		<h2>Editar Serviço</h2>
		<a href='/admin/prodServ/estoque/servicos'>
			<span>
				<i class='fas fa-long-arrow-alt-left me-1'></i>
				Voltar
			</span>
		</a>
	</header>

	<div class='d-flex justify-content-center'>

		<form
			action='/admin/prodServ/estoque/editarServicoP'
			method='post'
			class='form-card rounded shadow'
		>
			<div class='input-group'>
				<label for='categoria' class='input-group-text'>Categoria:
				</label>
				<select name='categoria' class='form-select' required>
					{{#each categorias}}
						<option value='{{_id}}'>{{nome}}</option>
					{{/each}}
				</select>
			</div>
			<!--ID-->
			<input type='hidden' name='id' value='{{servico._id}}' />
			<!--Descrição-->
			<div class='form-floating'>
				<input
					type='text'
					name='descricao'
					id='descricao'
					class='form-control'
					placeholder='Descrição'
					value='{{servico.descricao}}'
					required
				/>
				<label for='descricao'>Descrição</label>
			</div>
			<!--Valor-->
			<div class='form-floating'>
				<input
					name='valor'
					id='valor'
					class='form-control'
					placeholder='Valor do serviço'
					min='0'
					step='any'
					value='{{servico.valor}}'
					required
				/>
				<label for='valor'>Valor</label>
			</div>

			<button type='submit' class='btn btn-primary w-100'>Editar</button>
		</form>
	</div>
</div>