<div class='container mt-4'>

	<header>
		<h2 style='display: inline;'>Estoque</h2>

		<a href='/admin/prodServ/estoque/produtos'>
			<button class='btn btn-primary mb-3 ms-1 me-2'><img
					src='/img/handyman_white.svg'
					alt='Ícone de produtos'
				/>
				Produtos
			</button>
		</a>
		<a href='/admin/prodServ/estoque/servicos'>
			<button class='btn btn-primary mb-3'>
				<img
					src='/img/car_white.png'
					alt='Ícone de serviço'
					height='24px'
					width='24px'
				/>
				Serviços
			</button>
		</a>

	</header>

	<main class='card'>

		<div class='card-body'>
			<table class='table table-striped table-hover'>

				<!--Produtos-->
				<div>
					{{#if produtos}}
						<h2>Produtos</h2>
						<thead>
							<tr>
								<th>Categoria</th>
								<th>Descrição</th>
								<th>Marca</th>
								<th>Modelo</th>
								<th>Quantidade</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						{{#each produtos}}
							<tr>
								<td>{{categoria.nome}}</td>
								<td>{{descricao}}</td>
								<td>{{marca}}</td>
								<td>{{modelo}}</td>
								<td>{{quantidade}}</td>

								<td style='width: 20px;'>
									<form
										action='/admin/prodServ/aquisicao'
										method='post'
									>
										<input
											type='hidden'
											name='id'
											value='{{_id}}'
										/>

										<button
											type='submit'
											class='btn btn-primary'
											title='Registrar aquisição'
										>
											<img
												src='/img/shopping_cart_white.svg'
												alt='register acquisition'
											/>
										</button>
									</form>

								</td>

								<td style='width: 20px;'>
									<form
										action='/admin/prodServ/estoque/editarProduto'
										method='post'
									>
										<input
											type='hidden'
											name='id'
											value='{{_id}}'
										/>
										<button
											type='submit'
											class='btn btn-secondary'
											title='Editar produto'
										>
											<img
												src='/img/edit.svg'
												alt='edit'
											/>
										</button>
									</form>
								</td>

								<td style='width: 20px;'>
									<form
										action='/admin/prodServ/estoque/deletarProduto'
										method='post'
										onSubmit="return confirm('Deseja deletar?');"
									>
										<input
											type='hidden'
											name='id'
											value='{{_id}}'
										/>
										<button
											type='submit'
											class='btn btn-danger'
											title='Deletar produto'
										>
											<img
												src='/img/delete.svg'
												alt='deletar'
											/>
										</button>
									</form>
								</td>
							</tr>
						{{/each}}
					{{/if}}
				</div>

				<!--Serviços-->
				<div>
					{{#if servicos}}
						<h2>Serviços</h2>
						<thead>
							<tr>
								<th>Categoria</th>
								<th>Descrição</th>
								<th>Valor</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						{{#each servicos}}

							<tr>
								<td>{{categoria.nome}}</td>
								<td>{{descricao}}</td>
								<td>R$ {{valor}}</td>

								<td style='width: 20px;'>
									<form
										action='/admin/prodServ/estoque/editarServico'
										method='post'
									>
										<input
											type='hidden'
											name='id'
											value='{{_id}}'
										/>
										<button
											type='submit'
											class='btn btn-secondary me-2'
										>
											<img
												src='/img/edit.svg'
												alt='edit'
											/>
										</button>
									</form>
								</td>

								<td style='width: 20px;'>
									<form
										action='/admin/prodServ/estoque/deletarSevico'
										method='post'
										onSubmit="return confirm('Deseja deletar?');"
									>
										<input
											type='hidden'
											name='id'
											value='{{_id}}'
										/>
										<button
											type='submit'
											class='btn btn-danger me-2'
										>
											<img
												src='/img/delete.svg'
												alt='delete'
											/>
										</button>
									</form>
								</td>

							</tr>

						{{/each}}
					{{/if}}
				</div>

			</table>
		</div>

	</main>

	{{! prettier-ignore }}
	<script>
		function copiar(texto){ 
		var textArea = document.createElement("textarea"); 
		textArea.value = texto; 

		//Evitar de rolar a página 
		textArea.style.top = "0" ;
		textArea.style.left = "0";
		textArea.style.position = "fixed";
		document.body.appendChild(textArea);
		textArea.focus(); textArea.select(); 
		document.execCommand('copy');
		document.body.removeChild(textArea); }
	</script>
</div>