<div class='container mt-4'>
	<header class='row row-cols-1'>
		<h2 class='d-flex justify-content-center'>Funcionários</h2>
		<footer class='d-flex justify-content-center'>
			<a href='/cadastroGeral/'>
				<button class='btn btn-primary ms-3'>
					<i class='fas fa-user-plus'></i>
					Adicionar
				</button>
			</a>
		</footer>
	</header>

	<main class='mt-3 row row-cols-4 justify-content-center'>
		{{#each funcionarios}}
			<div class='card empl-card me-5 mb-3'>
				<div class='card-body text-center'>
					<img
						class='empl-profile-image'
						src='https://robohash.org/{{cpf}}'
						alt='example_image'
					/>
					<section id='moreInfo'>
						<div class='row'>
							<h3 class='empl-name text-truncate'>{{nome}}</h3>
						</div>
						<span>{{cpf}}</span>

						<div class='modal' id='info{{_id}}' tabindex='-1'>
							<div class='modal-dialog modal-dialog-centered'>
								<div class='modal-content'>
									<div class='modal-header'>
										<h5 class='modal-title'>Mais informações</h5>
										<button
											type='button'
											class='btn-close'
											data-bs-dismiss='modal'
											aria-label='Close'
										></button>
									</div>
									<div class='modal-body text-start'>
										<p>
											<b>Email: </b>
											{{#if contato.email}}
												{{contato.email}}
											{{else}}
												Não informado
											{{/if}}
										</p>
										<p>
											<b>
												Telefone:
											</b>
											{{#if contato.email}}
												{{contato.telefone}}
											{{else}}
												Não informado
											{{/if}}
										</p>
									</div>
								</div>
							</div>
						</div>
					</section>

					<aside class='d-flex justify-content-center mt-3'>

						<button
							class='btn btn-primary empl-btn'
							data-bs-toggle='modal'
							data-bs-target='#info{{_id}}'
						>
							<img src='/img/info.svg' alt='info' />
						</button>

						<form action='/admin/funcionarios/editar' method='post'>
							<input type='hidden' name='id' value='{{_id}}' />
							<button
								type='submit'
								class='btn btn-secondary empl-btn'
							>
								<img
									src='/img/edit.svg'
									alt='edit'
									title='Editar'
								/>
							</button>
						</form>

						<form
							action='/admin/funcionarios/deletar'
							method='post'
							onSubmit="return confirm('Deseja deletar?');"
						>
							<input type='hidden' name='id' value='{{_id}}' />
							<button
								type='submit'
								class='btn btn-danger empl-btn'
							>
								<img
									src='/img/delete.svg'
									alt='delete'
									title='Deletar'
								/>
							</button>
						</form>
					</aside>
				</div>
			</div>
		{{/each}}
	</main>

</div>