<div class='container mt-4'>
	<header class='text-center'>
		<h2>Funcionários</h2>
		<footer>
			<a href='/cadastroGeral/func'>
				<button class='btn btn-primary ms-3'>
					<i class='fas fa-user-plus'></i>
					Adicionar
				</button>
			</a>
		</footer>
	</header>

	<main class='mt-3 row row-cols-4 justify-content-center'>
		{{#each funcionarios}}
			<div class='card empl-card me-5 mb-3 shadow-sm'>
				<div class='card-body text-center'>
					<img
						class='empl-profile-image shadow-sm'
						src='https://robohash.org/{{cpf}}'
						alt='example_image'
					/>
					<section id='moreInfo'>
						<div class='row'>
							<h3 class='empl-name text-truncate'>{{nome}}</h3>
						</div>
						<span>{{cpf}}</span>

					</section>

					<aside class='d-flex justify-content-center mt-3'>

						<button
							type='button'
							class='btn btn-primary empl-btn'
							data-bs-toggle='modal'
							data-bs-target='#modalInfo'
							onclick="modalInfo('{{contato.email}}', '{{contato.telefone}}')"
						>
							<img src='/img/info.svg' alt='info' />
						</button>

						<form action='/admin/funcionarios/editar' method='post'>
							<input type='hidden' name='id' value='{{_id}}' />
							<button
								type='submit'
								class='btn btn-secondary empl-btn'
							>
								<img
									src='/img/edit.svg'
									alt='edit'
									title='Editar'
								/>
							</button>
						</form>

						<button
							type='button'
							class='btn btn-danger empl-btn'
							data-bs-toggle='modal'
							data-bs-target='#modalDelete'
							onclick="modalDelete('{{_id}}','{{nome}}')"
						>
							<img
								src='/img/delete.svg'
								alt='delete'
								title='Deletar'
							/>
						</button>
					</aside>
				</div>
			</div>
		{{/each}}
	</main>

	<div class='modal' id='modalInfo' tabindex='-1'>
		<div class='modal-dialog modal-dialog-centered'>
			<div class='modal-content'>
				<div class='modal-header'>
					<h5 class='modal-title'>Mais informações</h5>
					<button
						type='button'
						class='btn-close'
						data-bs-dismiss='modal'
						aria-label='Close'
					></button>
				</div>
				<div class='modal-body text-start'>
					<p>
						<b>Email: </b>
						<span id='modalInfoMail'></span>
					</p>
					<p>
						<b>
							Telefone:
						</b>
						<span id='modalInfoTel'></span>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class='modal' id='modalDelete' tabindex='-1'>
		<div class='modal-dialog modal-sm modal-dialog-centered'>
			<div class='modal-content'>
				<div class='modal-header'>
					<h5 class='modal-title'>
						Deletar funcionário?
					</h5>
				</div>
				<div class='modal-body'>
					<p id='modal-body-text'>

					</p>
				</div>
				<div class='modal-footer'>
					<button
						type='button'
						class='btn btn-danger'
						data-bs-dismiss='modal'
					>
						Cancelar
					</button>
					<form id='modalForm' method='post'>
						<input id='inputDelete' name='id' type='hidden' />
						<button
							type='submit'
							class='btn btn-light border-danger'
						>
							<i class='far fa-trash-alt'></i>
							Deletar
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>

{{!-- prettier-ignore --}}
<script>
	function modalInfo(email, telefone){ 
		var mail = document.getElementById('modalInfoMail')
		var tel = document.getElementById('modalInfoTel')

		if(email != ''){
			mail.innerHTML = email
		}else{
			mail.innerHTML = 'Não informado'
		}

		if(telefone != ''){
			tel.innerHTML = telefone
		}else{
			tel.innerHTML = `Não informado`
		}

	}

	function modalDelete(id, nome){
		document.getElementById('inputDelete').setAttribute('value', id)
		document.getElementById('modalForm').setAttribute('action','/admin/funcionarios/deletar')
		document.getElementById('modal-body-text').innerHTML = `Deseja deletar o funcionário <b>`+nome+`</b>?`
	}
</script>