<div class='container mt-4'>
	<header>
		<h2>Funcionários</h2>
		<nav style="--bs-breadcrumb-divider: '>';" aria-label='breadcrumb'>
			<ol class='breadcrumb'>
				<li class='breadcrumb-item'><a href='/'>Home</a></li>
				<li class='breadcrumb-item'>
					<a href='/admin'>
						Painel administrativo
					</a>
				</li>
				<li class='breadcrumb-item active' aria-current='page'>
					Funcionários
				</li>
			</ol>
		</nav>

	</header>

	<main>
		{{#each funcionarios}}
			<div class='employee-card'>
				<img
					src='https://robohash.org/{{cpf}}'
					alt='imagem de exemplo'
				/>
				<span class='employeeName'>{{nome}}</span>
				<span>{{cpf}}</span>
				<!--Adicionar outros campos aqui depois-->

				<aside class='d-flex justify-content-center'>

					<button
						type='button'
						class='btn btn-primary mt-2 me-2 example-popover'
						data-bs-toggle='popover'
						title='Contato'
						data-bs-content='E-mail: {{contato.email}} Telefone: {{contato.telefone}}'
					>
						<img
							src='/img/info.svg'
							alt='info'
							title='Mais informações'
							onclick="bunda()"
						/>
					</button>

					<form action='/admin/funcionarios/editar' method='post'>
						<input type='hidden' name='id' value='{{_id}}' />
						<button
							type='submit'
							class='btn btn-secondary mt-2 me-2'
						>
							<img
								src='/img/edit.svg'
								alt='edit'
								title='Editar'
							/>
						</button>
					</form>

					<form action='/admin/funcionarios/deletar' method='post'
					onSubmit="return confirm('Deseja deletar?');">
						<input type='hidden' name='id' value='{{_id}}' />
						<button type='submit' class='btn btn-danger mt-2'>
							<img
								src='/img/delete.svg'
								alt='delete'
								title='Deletar'
							/>
						</button>
					</form>
				</aside>
			</div>
		{{/each}}
	</main>

</div>

{{! prettier-ignore }}
<script>
    //Popover
    for(i=0;i<document.querySelectorAll('.example-popover').length;i++){
        var popover = new bootstrap.Popover(document.querySelectorAll('.example-popover')[i], {
          container: 'body'
		})
    }
</script>