<div class='container mt-2 flex-wrap'>

	<header class='text-center'>
		<h1>Gerar orçamento</h1>
		<a href='/orcamento'>
			<span>
				<i class='fas fa-long-arrow-alt-left me-1'></i>
				Voltar
			</span>
		</a>
	</header>

	<main class='mx-auto'>
		<form action='/orcamento/novo' autocomplete='off' method='post'>

			<!--Cabeçalho-->
			<header class='card form-card2 mx-auto shadow'>
				<!--Responsável-->
				<div class='form-floating'>
					<input
						class='form-control'
						type='text'
						name='responsavelAuxiliar'
						value='{{userNome}}'
						class='form-control'
						disabled
					/>
					<label for='responsavelAuxiliar'>Responsável:</label>
				</div>

				<!--Nome Cliente-->
				<div class='form-floating'>
					<input
						type='text'
						name='cliente'
						id='cliente'
						class='form-control'
						placeholder='Nome do cliente'
					/>
					<label for='cliente'>Nome do Cliente</label>
				</div>

				<!--Datas-->
				<div class='input-group'>
					<span class='input-group-text'>
						Data de entrada
					</span>
					<input
						type='number'
						name='diaEntrada'
						placeholder='dd'
						min='1'
						max='31'
						class='form-control'
						required
					/>
					<input
						type='number'
						name='mesEntrada'
						placeholder='mm'
						min='1'
						max='12'
						class='form-control'
						required
					/>
					<input
						type='number'
						name='anoEntrada'
						placeholder='yyyy'
						min='2010'
						max='2021'
						class='form-control'
						required
					/>
				</div>

				<div class='input-group'>
					<span class='input-group-text'>
						Data de saída
					</span>
					<input
						type='number'
						name='diaSaida'
						placeholder='dd'
						min='1'
						max='31'
						class='form-control'
					/>
					<input
						type='number'
						name='mesSaida'
						placeholder='mm'
						min='1'
						max='12'
						class='form-control'
					/>
					<input
						type='number'
						name='anoSaida'
						placeholder='yyyy'
						min='2010'
						max='2021'
						class='form-control'
					/>
				</div>

				<!--Problema relatado-->
				<div class='form-floating'>
					<textarea
						name='descricao'
						cols='70'
						rows='8'
						class='form-control'
						placeholder='Problema relatado'
					></textarea>
					<label for='descricao'>Problema relatado</label>
				</div>
			</header>

			<!--Peças-->
			<div class='card form-card2 mx-auto shadow'>
				<header class='d-flex justify-content-between'>
					<h4><i class='fas fa-dolly-flatbed'></i>
						Adicionar produto
					</h4>
					<button
						type='button'
						class='btn btn-info'
						style='width:30%'
						data-bs-toggle='modal'
						data-bs-target='#addPeca'
					>
						<i class='fas fa-box-open'></i>
						Estoque
					</button>
				</header>

				<div id='pecas' class='input-group'>
					<label
						for='produtos'
						class='input-group-text'
					>Código</label>
					<input
						type='number'
						name='produtos'
						id='produtos'
						placeholder='Nº'
						min='1'
						class='form-control'
					/>

					<label
						for='quant'
						class='input-group-text'
					>Quantidade</label>
					<input
						type='number'
						name='quant'
						id='quant'
						min='1'
						class='form-control'
					/>

					<!--Array de produtos-->
					<input
						type='hidden'
						name='arrayProdutos'
						id='arrayProdutos'
					/>

					<button
						type='button'
						id='addProduto'
						onclick='adicionarProduto()'
						class='btn btn-secondary'
					>
						<i class='fas fa-plus-circle'></i>
					</button>
				</div>

				<!--Tabela-->
				<table class='table table-striped'>
					<thead>
						<th>Código</th>
						<th>Valor Unit.</th>
						<th>Quantidade</th>
						<th>Total</th>
					</thead>
					<tbody id='produtosTabela'>

					</tbody>
				</table>
			</div>

			<!--Serviços-->
			<div class='card form-card2 mx-auto shadow'>
				<header class='d-flex justify-content-between'>
					<h4><i class='fas fa-wrench'></i> Adicionar serviço</h4>
					<button
						type='button'
						class='btn btn-info'
						style='width:30%'
						data-bs-toggle='modal'
						data-bs-target='#addServ'
					>
						<i class='fas fa-box-open'></i>
						Estoque
					</button>
				</header>

				<!--Funcionário-->
				<div id='funcionarioFoda' class='form-floating'>
					<input
						type='text'
						name='funcionario'
						id='funcionario'
						class='form-control'
						placeholder='Funcionário Responsável'
					/>
					<label for='funcionario'>Funcionário Responsável</label>
				</div>
				<div class='input-group'>
					<label for='servico' class='input-group-text mt-2'>
						Serviço
					</label>
					<input
						type='text'
						name='servico'
						id='servico'
						placeholder='Descrição'
						class='form-control mt-2'
					/>

					<!--Preço-->
					<label
						for='preco'
						class='input-group-text mt-2'
					>Preço</label>
					<input
						type='number'
						name='preco'
						id='preco'
						class='form-control mt-2'
					/>

					<!--Array de serviços-->
					<input
						type='hidden'
						name='arrayServicos'
						id='arrayServicos'
					/>

					<button
						type='button'
						id='addServico'
						onclick='adicionarServico()'
						class='btn btn-secondary mt-2'
					>
						<i class='fas fa-plus-circle'></i>
					</button>
				</div>

				<!--Tabela Serviços-->
				<table class='table'>
					<thead>
						<th>Funcionário</th>
						<th>Serviço</th>
						<th>Total</th>
					</thead>
					<tbody id='servicosTabela'>

					</tbody>
				</table>
			</div>

			<!--Finalizar Orçamento-->
			<div class='form-card2 mx-auto d-flex justify-content-around'>

				<div
					class='form-check form-switch d-flex align-items-center justify-content-end'
				>
					<input
						class='form-check-input'
						type='checkbox'
						name='status'
						id='status'
						value='false'
					/>
					<label
						class='form-check-label ms-2 me-2 user-select-none'
						for='status'
					>
						Fechar orçamento ao finalizar
					</label>
				</div>

				<button type='submit' class='btn btn-primary'>
					Finalizar
				</button>

			</div>

		</form>
	</main>

	<div class='modal' id='addPeca' tabindex='-1'>
		<div class='modal-dialog modal-dialog-centered'>
			<div class='modal-content'>
				<div class='modal-header'>
					<h2 class='modal-title'>Tabela de peças</h2>
					<button
						type='button'
						class='btn-close'
						data-bs-dismiss='modal'
						aria-label='Close'
					></button>
				</div>
				<div class='modal-body'>
					<div class='scrollable'>
						<table class='table table-striped' id='tableStorage'>
							<thead>
								<th class='text-end'>Código</th>
								<th>Descrição</th>
								<th class='text-end'>Quantidade</th>
								<th class='text-end'>Valor Unit.</th>
							</thead>

							<tbody>
								{{#each produtos}}
									<tr>
										<td class='text-end'>{{codigo}}</td>
										<td>{{descricao}}</td>
										<td class='text-end'>{{quantidade}}</td>
										<td class='text-end'>{{currency
												valorUnit
											}}</td>
									</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class='modal' id='addServ' tabindex='-1'>
		<div class='modal-dialog modal-dialog-centered'>
			<div class='modal-content'>
				<div class='modal-header'>
					<h2 class='modal-title'>Tabela de serviços</h2>
					<button
						type='button'
						class='btn-close'
						data-bs-dismiss='modal'
						aria-label='Close'
					></button>
				</div>
				<div class='modal-body'>
					<div class='scrollable'>
						<table class='table table-striped' id='tableStorage'>
							<thead>
								<th>Categoria</th>
								<th>Descrição</th>
								<th>Valor Total</th>
							</thead>

							<tbody>
								{{#each servicos}}
									<tr>
										<td>
											{{categoria.nome}}
										</td>
										<td>{{descricao}}</td>
										<td>
											{{currency valor}}
										</td>
									</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{! prettier-ignore }}
	<script>

		//Produtos 
		var Produtos = []
		var produtos2 = {{{produtos2}}}

		function adicionarProduto(){
			var codigo = document.getElementById('produtos')
			var quant = document.getElementById('quant')
			var valorUnit
			if(codigo.value != "" && quant.value != ""){
                for(prod of produtos2){
                    if(prod.codigo == codigo.value){
                        if((Number(prod.quantidade) - Number(quant.value)) >= 0) {
                            valorUnit = prod.valorUnit

                            let obj = {
                                codigo: Number(codigo.value), 
                                quantidade: Number(quant.value), 
                                valorUnit: Number(valorUnit)
                            }

                            Produtos.push(obj)
                            document.getElementById('arrayProdutos').value = JSON.stringify(Produtos)

                            let tabela = document.getElementById('produtosTabela')
                            let linha = tabela.insertRow()
                            let c1 = linha.insertCell(0)
                            let c2 = linha.insertCell(1)
                            let c3 = linha.insertCell(2)
                            let c4 = linha.insertCell(3)

                            c1.innerHTML = codigo.value
                            c2.innerHTML =  "R$ " + valorUnit.toFixed(2)
                            c3.innerHTML =  quant.value
                            c4.innerHTML = "R$ " + (Number(valorUnit) * Number(quant.value)).toFixed(2)

                            codigo.value = ''
                            quant.value = ''
                        }
                    }
                }
            }
		}

		//Serviços
		var servicos = []
		
		function adicionarServico(){
			var nomeFunc = document.getElementById('funcionario')
			var descricao = document.getElementById('servico')
			var preco = document.getElementById('preco')
			if(nomeFunc.value != "" && descricao.value != "" && preco.value != ""){
				let obj = {nomeFunc: nomeFunc.value, descricao: descricao.value, preco: preco.value}
				servicos.push(obj)
				document.getElementById('arrayServicos').value = JSON.stringify(servicos)

				let tabela = document.getElementById('servicosTabela')
				let linha = tabela.insertRow()
				let c1 = linha.insertCell(0)
				let c2 = linha.insertCell(1)
				let c3 = linha.insertCell(2)

				c1.innerHTML =  nomeFunc.value
				c2.innerHTML =  descricao.value
				c3.innerHTML = "R$ " + Number(preco.value).toFixed(2)
				
				nomeFunc.value = ''
				descricao.value = ''
				preco.value = ''
			}
		}
		
		//Autocomplete
		function autocomplete(inp, arr) {
			var currentFocus;
			inp.addEventListener("input", function(e) {
				var a, b, i, val = this.value;
				closeAllLists();
				if (!val) { return false;}
				currentFocus = -1;
				a = document.createElement("DIV");
				a.setAttribute("id", this.id + "autocomplete-list");
				a.setAttribute("class", "autocomplete-items");
				this.parentNode.appendChild(a);
				for (i = 0; i < arr.length; i++) {
				if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
					b = document.createElement("DIV");
					b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
					b.innerHTML += arr[i].substr(val.length);
					b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
						b.addEventListener("click", function(e) {
						inp.value = this.getElementsByTagName("input")[0].value;
						closeAllLists();
					});
					a.appendChild(b);
				}
				}
			});
			inp.addEventListener("keydown", function(e) {
				var x = document.getElementById(this.id + "autocomplete-list");
				if (x) x = x.getElementsByTagName("div");
				if (e.keyCode == 40) {
				currentFocus++;
				addActive(x);
				} else if (e.keyCode == 38) { 
				currentFocus--;

				addActive(x);
				} else if (e.keyCode == 13) {
				e.preventDefault();
				if (currentFocus > -1) {
					if (x) x[currentFocus].click();
				}
				}
			});
			function addActive(x) {
			if (!x) return false;
			removeActive(x);
			if (currentFocus >= x.length) currentFocus = 0;
			if (currentFocus < 0) currentFocus = (x.length - 1);
			x[currentFocus].classList.add("autocomplete-active");
			}
			function removeActive(x) {
			for (var i = 0; i < x.length; i++) {
				x[i].classList.remove("autocomplete-active");
			}
			}
			function closeAllLists(elmnt) {
			var x = document.getElementsByClassName("autocomplete-items");
				for (var i = 0; i < x.length; i++) {
					if (elmnt != x[i] && elmnt != inp) {
						x[i].parentNode.removeChild(x[i]);
					}
				}
			}
			document.addEventListener("click", function (e) {
				closeAllLists(e.target);
			});
		} 

		//Autocomplete de clientes
		var cl = {{{clientes}}}
    	Cl = Array(cl)
    	var Clientes = cl.map(({nome}) => nome)
    	autocomplete(document.getElementById('cliente'), Clientes)

		//Autocomplete de funcionários
		var func = {{{funcionarios}}}
		Func = Array(func)
		var Funcionarios = func.map(({nome}) => nome)
		autocomplete(document.getElementById('funcionario'), Funcionarios)
	</script>
</div>