<div class='container mt-4'>

	<h1 class='d-flex justify-content-center'>Editar orçamento</h1>

	<div class='d-flex justify-content-center flex-wrap'>
		<form
			action='/orcamento/editarP'
			autocomplete='off'
			method='post'
			class='form-card rounded shadow'
		>
			<!--ID-->
			<input type='hidden' name='id' value='{{orcamento._id}}' />

			<!--Responsável-->
			<div class='form-floating'>
				<input
					class='form-control'
					type='text'
					name='responsavelAuxiliar'
					value='{{usuario.nome}}'
					class='form-control'
					disabled
				/>
				<label for='responsavelAuxiliar'>Responsável:</label>
			</div>

			<!--Nome Cliente-->
			<div class='autocomplete form-floating'>
				<input
					type='text'
					name='cliente'
					id='cliente'
					class='form-control'
					value='{{cliente.nome}}'
				/>
				<label for='cliente'>Nome do Cliente:</label>
			</div>

			<!--Datas-->
			<div class='input-group'>
				<span class='input-group-text'>
					Data de entrada
				</span>
				<input
					type='number'
					name='diaEntrada'
					placeholder='dd'
					min='1'
					max='31'
					class='form-control'
					value='{{getDia orcamento.data.dataEntrada}}'
					required
				/>
				<input
					type='number'
					name='mesEntrada'
					placeholder='mm'
					min='1'
					max='12'
					class='form-control'
					value='{{getMes orcamento.data.dataEntrada}}'
					required
				/>
				<input
					type='number'
					name='anoEntrada'
					placeholder='yyyy'
					min='2010'
					max='2021'
					class='form-control'
					value='{{getAno orcamento.data.dataEntrada}}'
					required
				/>
			</div>

			<div class='input-group'>
				<span class='input-group-text'>
					Data de saída
				</span>
				<input
					type='number'
					name='diaSaida'
					placeholder='dd'
					min='1'
					max='31'
					class='form-control'
					value='{{getDia orcamento.data.dataSaida}}'
					required
				/>
				<input
					type='number'
					name='mesSaida'
					placeholder='mm'
					min='1'
					max='12'
					class='form-control'
					value='{{getMes orcamento.data.dataSaida}}'
					required
				/>
				<input
					type='number'
					name='anoSaida'
					placeholder='yyyy'
					min='2010'
					max='2021'
					class='form-control'
					value='{{getAno orcamento.data.dataSaida}}'
					required
				/>
			</div>

			<!--Descrição do orçamento-->
			<div class='form-floating'>
				<textarea
					name='descricao'
					cols='70'
					rows='8'
					class='form-control'
				>{{orcamento.descricao}}</textarea>
				<label for='descricao'>Descrição do problema/serviço realizado:</label>
			</div>

			<!--Peças-->
			<header class='d-flex justify-content-between'>
				<h4><i class='fas fa-dolly-flatbed'></i> Adicionar peça</h4>
				<button
					type='button'
					class='btn btn-warning'
					style='width:30%'
					data-bs-toggle='modal'
					data-bs-target='#addPeca'
				>
					<i class='fas fa-box-open'></i>
					Estoque
				</button>
			</header>

			<div id='pecas' class='input-group'>
				<label for='produtos' class='input-group-text'>Código</label>
				<input
					type='number'
					name='produtos'
					id='produtos'
					placeholder='Nº'
					min='1'
					class='form-control'
				/>

				<label for='quant' class='input-group-text'>Quantidade</label>
				<input
					type='number'
					name='quant'
					id='quant'
					placeholder=''
					min='1'
					class='form-control'
				/>

				<!--Array de produtos-->
				<input type='hidden' name='arrayProdutos' id='arrayProdutos' />

				<button
					type='button'
					id='addProduto'
					onclick='adicionarProduto()'
					class='btn btn-secondary'
				>
					<i class='fas fa-plus-circle'></i>
				</button>

			</div>
			<!--Tabela-->
			<table id='produtosTabela'>
				<tbody>
					{{#each orcamento.produtos}}
						<tr>
							<td>Código: {{this.codigo}}</td>
							<td>Valor unitário: {{this.valorUnit}}</td>
							<td>Quantidade: {{this.quantidade}}</td>
							<td>Total: R${{calculoVT
									this.valorUnit
									this.quantidade
								}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>

			<!--Serviços-->
			<h4><i class='fas fa-wrench'></i> Adicionar serviço</h4>

			<div id='servicos' class='input-group'>
				<!--Funcionário-->
				<div class='form-floating w-100'>

					<input
						type='text'
						name='funcionario'
						id='funcionario'
						placeholder='Nome do funcionário'
						class='form-control'
					/>
					<label for='funcionario'>Funcionário Responsável</label>
				</div>

				<!--Serviço realizado-->
				<div class='input-group'>
					<label
						for='servico'
						class='input-group-text mt-2'
					>Serviço</label>
					<input
						type='text'
						name='servico'
						id='servico'
						placeholder='Descrição'
						class='form-control mt-2'
					/>

					<!--Preço-->
					<label
						for='preco'
						class='input-group-text mt-2'
					>Preço</label>
					<input
						type='number'
						name='preco'
						id='preco'
						class='form-control mt-2'
					/>

					<!--Array de serviços-->
					<input
						type='hidden'
						name='arrayServicos'
						id='arrayServicos'
					/>

					<button
						type='button'
						id='addServico'
						onclick='adicionarServico()'
						class='btn btn-secondary mt-2'
					>
						<i class='fas fa-plus-circle'></i>
					</button>
				</div>

			</div>
			<!--Tabela Serviços-->
			<table id='servicosTabela'>
				<tbody>
					{{#each orcamento.servicos}}
						<tr>
							<td>Funcionário: {{this.nomeFunc}}</td>
							<td>Descrição: {{this.descricao}}</td>
							<td>Valor: R${{this.preco}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>

			<div
				class='form-check form-switch d-flex align-items-center justify-content-end'
			>
				<input
					class='form-check-input'
					type='checkbox'
					name='status'
					id='status'
					value='false'
				/>
				<label
					class='form-check-label ms-2 user-select-none'
					for='status'
				>
					Fechar orçamento ao finalizar
				</label>
			</div>

			<button type='submit' class='btn btn-primary w-100'>
				Finalizar
			</button>

		</form>

		<div class='modal' id='addPeca' tabindex='-1'>
			<div class='modal-dialog modal-dialog-centered'>
				<div class='modal-content'>
					<div class='modal-header'>
						<h2 class='modal-title'>Tabela de peças</h2>
						<button
							type='button'
							class='btn-close'
							data-bs-dismiss='modal'
							aria-label='Close'
						></button>
						<br />

					</div>
					<div class='modal-body'>
						<div class='input-group mb-3'>
							<span class='input-group-text' id='basic-addon1'>
								<i class='fas fa-search'></i>
							</span>
							<input
								id='tableSearchInput'
								type='text'
								class='form-control'
								placeholder='Descrição da peça (em manutenção)'
								disabled
							/>
						</div>

						<div id='estoque'>
							<table class='table' id='tableStorage'>
								<thead>
									<th class='text-end'>Código</th>
									<th>Descrição</th>
									<th class='text-end'>Quantidade</th>
									<th class='text-end'>Valor Unit.</th>
								</thead>

								<tbody>
									{{#each produtos}}
										<tr>
											<td class='text-end'>{{codigo}}</td>
											<td>{{descricao}}</td>
											<td
												class='text-end'
											>{{quantidade}}</td>
											<td class='text-end'>R$
												{{valorUnit}}</td>
										</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{! prettier-ignore }}
	<script>
        //Produtos 
		var Produtos = []
		var produtos2 = {{{produtos2}}}

		function adicionarProduto(){
			var codigo = document.getElementById('produtos')
			var quant = document.getElementById('quant')
			var valorUnit
			if(codigo.value != "" && quant.value != ""){
                for(prod of produtos2){
                    if(prod.codigo == codigo.value){
                        if((Number(prod.quantidade) - Number(quant.value)) >= 0) {
                            valorUnit = prod.valorUnit

                            let obj = {
                                codigo: Number(codigo.value), 
                                quantidade: Number(quant.value), 
                                valorUnit: Number(valorUnit)
                            }

                            Produtos.push(obj)
                            document.getElementById('arrayProdutos').value = JSON.stringify(Produtos)

                            let tabela = document.getElementById('produtosTabela')
                            let linha = tabela.insertRow()
                            let c1 = linha.insertCell(0)
                            let c2 = linha.insertCell(1)
                            let c3 = linha.insertCell(2)
                            let c4 = linha.insertCell(3)

                            c1.innerHTML = 'Código: ' + codigo.value
                            c2.innerHTML = 'Valor unitário: ' + valorUnit
                            c3.innerHTML = 'Quantidade: ' + quant.value
                            c4.innerHTML = 'Total: R$' + (Number(valorUnit) * Number(quant.value))

                            codigo.value = ''
                            quant.value = ''
                        }
                    }
                }
            }
		}

		//Serviços
		var servicos = []
		
		function adicionarServico(){
			var nomeFunc = document.getElementById('funcionario')
			var descricao = document.getElementById('servico')
			var preco = document.getElementById('preco')
			if(nomeFunc.value != "" && descricao.value != "" && preco.value != ""){
				let obj = {nomeFunc: nomeFunc.value, descricao: descricao.value, preco: preco.value}
				servicos.push(obj)
				document.getElementById('arrayServicos').value = JSON.stringify(servicos)

				let tabela = document.getElementById('servicosTabela')
				let linha = tabela.insertRow()
				let c1 = linha.insertCell(0)
				let c2 = linha.insertCell(1)
				let c3 = linha.insertCell(2)

				c1.innerHTML = 'Funcionário: ' + nomeFunc.value
				c2.innerHTML = 'Descrição: ' + descricao.value
				c3.innerHTML = 'Valor: R$' + preco.value
				
				nomeFunc.value = ''
				descricao.value = ''
				preco.value = ''
			}
		}
		
		//Autocomplete
		function autocomplete(inp, arr) {
			var currentFocus;
			inp.addEventListener("input", function(e) {
				var a, b, i, val = this.value;
				closeAllLists();
				if (!val) { return false;}
				currentFocus = -1;
				a = document.createElement("DIV");
				a.setAttribute("id", this.id + "autocomplete-list");
				a.setAttribute("class", "autocomplete-items");
				this.parentNode.appendChild(a);
				for (i = 0; i < arr.length; i++) {
				if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
					b = document.createElement("DIV");
					b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
					b.innerHTML += arr[i].substr(val.length);
					b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
						b.addEventListener("click", function(e) {
						inp.value = this.getElementsByTagName("input")[0].value;
						closeAllLists();
					});
					a.appendChild(b);
				}
				}
			});
			inp.addEventListener("keydown", function(e) {
				var x = document.getElementById(this.id + "autocomplete-list");
				if (x) x = x.getElementsByTagName("div");
				if (e.keyCode == 40) {
				currentFocus++;
				addActive(x);
				} else if (e.keyCode == 38) { 
				currentFocus--;

				addActive(x);
				} else if (e.keyCode == 13) {
				e.preventDefault();
				if (currentFocus > -1) {
					if (x) x[currentFocus].click();
				}
				}
			});
			function addActive(x) {
			if (!x) return false;
			removeActive(x);
			if (currentFocus >= x.length) currentFocus = 0;
			if (currentFocus < 0) currentFocus = (x.length - 1);
			x[currentFocus].classList.add("autocomplete-active");
			}
			function removeActive(x) {
			for (var i = 0; i < x.length; i++) {
				x[i].classList.remove("autocomplete-active");
			}
			}
			function closeAllLists(elmnt) {
			var x = document.getElementsByClassName("autocomplete-items");
				for (var i = 0; i < x.length; i++) {
					if (elmnt != x[i] && elmnt != inp) {
						x[i].parentNode.removeChild(x[i]);
					}
				}
			}
			document.addEventListener("click", function (e) {
				closeAllLists(e.target);
			});
		} 

        //Autocomplete de clientes
		var cl = {{{clientes}}}
    	Cl = Array(cl)
    	var Clientes = cl.map(({nome}) => nome)
    	autocomplete(document.getElementById('cliente'), Clientes)

		//Autocomplete de funcionários
		var func = {{{funcionarios}}}
		Func = Array(func)
		var Funcionarios = func.map(({nome}) => nome)
		autocomplete(document.getElementById('funcionario'), Funcionarios)
	</script>
</div>