<div class='container'>
	<header class='text-center'>
		<h1>Orçamentos</h1>

		<footer>
			<a href='/orcamento/novo'>
				<button class='btn btn-primary mb-2'>
					<i
						class='fas fa-file-invoice-dollar'
						style='font-size: 20px;'
					></i>
					Gerar
				</button>
			</a>
		</footer>
	</header>

	<div class='card shadow scrollable'>
		<div class='card-body'>
			<!--Listagem de orçamentos-->
			<table class='table table-hover table-striped align-middle'>
				<thead>
					<tr>
						<th>Nº</th>
						<th>Entrada</th>
						<th>Responsável</th>
						<th>Cliente</th>
						<th>Descrição</th>
						<th>Total</th>
						<th></th>
						<th>Ações</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					{{#each orcamentos}}
						<tr>
							<th class='col-1'>{{numero}}</th>
							<td class='col-1'>
								{{getDia data.dataEntrada}}/{{getMes
									data.dataEntrada
								}}/{{getAno data.dataEntrada}}
							</td>
							<td class='col-1'>{{responsavel}}</td>
							<td class='col-2'>{{cliente}}</td>
							<td class='col-5'>{{descricao}}</td>
							<td class='col-2'>{{currency valorTotal}}</td>

							<td class='col'>
								<form
									method='post'
									action='/orcamento/gerarpdf'
									class='mb-0'
								>
									<input
										type='hidden'
										name='idPdf'
										value='{{_id}}'
									/>
									<button
										type='submit'
										class='btn btn-light border border-danger'
										style='width:50px; height: 38px'
										title='Gerar PDF'
									>
										<i
											class='fas fa-file-pdf fs-4 text-danger'
										></i>
									</button>
								</form>
							</td>

							<td class='col'>
								<form
									action='/orcamento/editar'
									method='post'
									class='mb-0'
								>
									<input
										type='hidden'
										name='id'
										value='{{_id}}'
									/>
									<button
										type='submit'
										class='btn btn-primary'
										title='Editar orçamento'
									>
										<img src='/img/edit.svg' alt='editar' />
									</button>

								</form>
							</td>

							<td class='col'>
								<button
									class='btn btn-danger'
									title='Deletar orçamento'
									data-bs-toggle='modal'
									data-bs-target='#modalDelete'
									onclick="modalDelete('{{_id}}', '{{numero}}')"
								>
									<img
										src='/img/delete.svg'
										alt='delete'
										title='Deletar'
									/>
								</button>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class='modal' id='modalDelete' tabindex='-1'>
	<div class='modal-dialog modal-sm modal-dialog-centered'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h5 class='modal-title'>
					Deletar orçamento?
				</h5>
			</div>
			<div class='modal-body'>
				<p id='modal-body-text'>

				</p>
			</div>
			<div class='modal-footer'>
				<button
					type='button'
					class='btn btn-danger'
					data-bs-dismiss='modal'
				>
					Cancelar
				</button>
				<form id='modalForm' method='post'>
					<input id='inputDelete' name='id' type='hidden' />
					<button type='submit' class='btn btn-light border-danger'>
						<i class='far fa-trash-alt'></i>
						Deletar
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

{{!-- prettier-ignore --}}
<script>
	function modalDelete(id, nome){
		document.getElementById('inputDelete').setAttribute('value', id)
		document.getElementById('modalForm').setAttribute('action','/orcamento/deletar')
		document.getElementById('modal-body-text').innerHTML = `Deseja deletar o orçamento <b>`+nome+`</b>?`
	}
</script>